In [2]:
# Importing libraries
import pandas as pd

In [3]:
# Reading in dataset
file_path = r"C:\Users\aleah\Class\Final_Project\hotel_bookings.csv"
hotels_df = pd.read_csv(file_path)
hotels_df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [4]:
# Exploring the columns 
hotels_df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [28]:
hotels_df['country'].describe()

count     118902
unique       177
top          PRT
freq       48590
Name: country, dtype: object

In [6]:
# Finding null values
for column in hotels_df.columns:
    print(f"Column {column} has {hotels_df[column].isnull().sum()} null values.")

Column hotel has 0 null values.
Column is_canceled has 0 null values.
Column lead_time has 0 null values.
Column arrival_date_year has 0 null values.
Column arrival_date_month has 0 null values.
Column arrival_date_week_number has 0 null values.
Column arrival_date_day_of_month has 0 null values.
Column stays_in_weekend_nights has 0 null values.
Column stays_in_week_nights has 0 null values.
Column adults has 0 null values.
Column children has 4 null values.
Column babies has 0 null values.
Column meal has 0 null values.
Column country has 488 null values.
Column market_segment has 0 null values.
Column distribution_channel has 0 null values.
Column is_repeated_guest has 0 null values.
Column previous_cancellations has 0 null values.
Column previous_bookings_not_canceled has 0 null values.
Column reserved_room_type has 0 null values.
Column assigned_room_type has 0 null values.
Column booking_changes has 0 null values.
Column deposit_type has 0 null values.
Column agent has 16340 null values.
Column company has 112593 null values.
Column days_in_waiting_list has 0 null values.
Column customer_type has 0 null values.
Column adr has 0 null values.
Column required_car_parking_spaces has 0 null values.
Column total_of_special_requests has 0 null values.
Column reservation_status has 0 null values.
Column reservation_status_date has 0 null values.

In [7]:
# Finding duplicate values (Should I delete these entries, no unique identifier per booking so are they truly duplicates or..)
print(f"Duplicate entries: {hotels_df.duplicated().sum()}")

Duplicate entries: 31994

In [21]:
# Copy of original df first
hotels_df_2 = hotels_df.copy()

# Dropping the 'agent' and 'company' columns 
hotels_df_2.drop(columns = ['agent', 'company'], inplace=True)
hotels_df_2.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [24]:
# Dropping the 4 ROWS with missing 'children' data
# Dropping the 488 ROWS with missing 'country' data
hotels_df_2 = hotels_df_2.dropna()

# Rechecking NaN values 
for column in hotels_df_2.columns:
    print(f"Column {column} has {hotels_df_2[column].isnull().sum()} null values.")

Column hotel has 0 null values.
Column is_canceled has 0 null values.
Column lead_time has 0 null values.
Column arrival_date_year has 0 null values.
Column arrival_date_month has 0 null values.
Column arrival_date_week_number has 0 null values.
Column arrival_date_day_of_month has 0 null values.
Column stays_in_weekend_nights has 0 null values.
Column stays_in_week_nights has 0 null values.
Column adults has 0 null values.
Column children has 0 null values.
Column babies has 0 null values.
Column meal has 0 null values.
Column country has 0 null values.
Column market_segment has 0 null values.
Column distribution_channel has 0 null values.
Column is_repeated_guest has 0 null values.
Column previous_cancellations has 0 null values.
Column previous_bookings_not_canceled has 0 null values.
Column reserved_room_type has 0 null values.
Column assigned_room_type has 0 null values.
Column booking_changes has 0 null values.
Column deposit_type has 0 null values.
Column days_in_waiting_list has 0 null values.
Column customer_type has 0 null values.
Column adr has 0 null values.
Column required_car_parking_spaces has 0 null values.
Column total_of_special_requests has 0 null values.
Column reservation_status has 0 null values.
Column reservation_status_date has 0 null values.

In [ ]:
# Dropping more columns that may not be necessary for our analysis 
#

In [ ]:
# Logistic regression model (binary classification)

# Splitting dataset into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
    y, random_state=1, stratify=y)

In [ ]:
# Create our logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=100, random_state=1)
classifier

In [ ]:
# Training the model
classifier.fit(X_train, y_train)

In [ ]:
# Create predictions
y_pred = classifier.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

In [ ]:
# Validate the model's performance
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

In [ ]:
# Validating the model using the test data
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")